#contact{
    position: relative;
    display: block;
    width: 100vw;
    height: auto;
    min-height: 90vh;
    overflow-y: scroll;
    overflow-y: hidden;
    background: #f1f1f1;
}
.tt-ctnr{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    font-size: 3vw;
    color: var(--main-blue);
    border-bottom: 5px solid var(--global-yellow);
    margin-bottom: 2vh;
    z-index: 10;
}
.tt-ctnr span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    font-weight: 500;
}
.envelope{
    position: relative;
    font-size: 10vw;
    color: #fff;
    z-index: -10;
}

.container{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
}


.form {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: auto;
    padding-right: 2vw;
    padding-left: 2vw;
    /* background: #000; */
}

.form-img{
    position: absolute;
    display: inline-block;
    width: 45%;
    height: 45vh;
    right: 7vw;
    font-size: 0;
    background: url(../media/mrsa.jpg);
    margin-top: 3vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2vw;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 2px 2px 35px 2px #000000;
}

label {
    margin-bottom: 5px;
    padding: 5px;
    font-weight: 500;
    color: var(--main-blue);
}

input, select, textarea {
    width: 20vw;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    border-radius: .5vw;
    caret-color: var(--main-blue);
    color: #333;
}

input:focus {
    outline: none;
    /* border-color: initial; */
}
select:focus {
    outline: none;
    /* border-color: initial; */
}
textarea:focus {
    outline: none;
    /* border-color: initial; */
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    /* top | right | bottom | left */
    padding: 1vh 0 1vh 0;
    background-color: var(--main-blue);
    color: #fff;
    font-size: 500;
    cursor: pointer;
    border-radius: 6vw;
}

input[type="submit"]:hover {
    background-color: var(--blue-two);
}