#faq{
    position: relative;
    display: block;
    width: 100vw;
    height: auto;
    min-height: 90vh;
    overflow-y: scroll;
    overflow-y: hidden;
    background: #f1f1f1;
}
.faq-ctnr{
    position: relative;
    display: block;
    width: 65%;
    height: 85%;
    margin: 0 auto;
    top: 5vh;
    margin-bottom: 15vh;
}
.faqQuestionIcon{
    padding: 1rem;
}
.accordion{
    margin: 0 auto;
    width: 100%;
}
.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid var(--main-blue);
    background: #e9fff3;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #333;
    font-size: 1.15rem;
    font-weight: 400;
    padding-left: 1rem;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #333;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #2579E8;
    border: 1px solid #2579E8;
}

.accordion button .accordion-title {
    font-size: 1.2rem;
    padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 5px;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded='true'] {
    color: #2579E8;
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion button[aria-expanded='true']+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    background: #e9fff3;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    padding-left: 1rem;
    padding-right: 5rem;
}

.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
    color: #333;
}
.accordion .accordion-content li {
    font-size: 1rem;
    font-weight: 300;
    color: #333;
    margin-left: 1.5rem;
    margin-bottom: 3px;
    text-align: left;
}

@media (max-width: 768px) {
    .faq-ctnr{
        width: 95%;
    }
    .accordion .accordion-content p {
        font-size: .9rem;
    }
    .accordion button[aria-expanded='true']+.accordion-content {
        max-height: 19em;
    }
    .accordion #accordion-button-2[aria-expanded='true']+.accordion-content {
        opacity: 1;
        max-height: 250em;
        transition: all 500ms linear;
    }
    .accordion button {
        padding-right: 2rem;
    }
}