footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
  padding-bottom: 5vh;
  background-color: var(--main-blue);
  border-top: .7rem solid var(--global-yellow);
}

/* FOOTER INFORMATIONS  */
#infos{
  display: grid;
  width: 95%;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1vw;
  grid-row-gap: 0px;
  font-size: 0;
}

.infos-ctnr{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 0;
  grid-column-gap: 1vw;
  grid-row-gap: 2vw;
  margin: 0 auto;
  padding: 2vw;

}
.square{
  display: block;
  width: 100%;
  height: 100%;
}

.navbox-text-ctnr {
  width: 100%;
  height: 100%;
  color: #fff;
}
.navbox-text-ctnr .title{
  font-size: 2rem;
  display: block;
  margin-top: 1vh;
  margin-left: 1vw;
}
.navbox-p{
  display: block;
  margin-top: 1vh;
  font-size: .8vw;
  font-weight: 400;
  padding-left: 1vw;
}

.desc-btn{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 5vh;
  margin-top: 2vh;
  margin-left: 1vw;
  padding-left: 1rem;
  padding-right: 1rem;
  background: none;
  border: 1px solid #ffff;
  border-radius: 6vw;
  font-size: 1vw;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  transition: 300ms all ease;
}
.desc-btn:hover{
  background: #fff;
}
.desc-btn:hover a{
  color: #2579E8;
}

.infos-ctnr-r{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  margin: 0 auto;
  padding: 2vw;


}
.submenu{
  width: 100%;
  height: 100%;
  background: none;
  color: #f1f1f1;
  font-size: 1.2vw;
  
}

.submenu span{
  font-size: 1.2vw;
  font-weight: 500;
  color: #fff;
}

.submenu a{
  color: #fff;
  font-size: .8vw;
}
.submenu ul{
  list-style: none;
  font-size: .8vw;
  padding-top: 1vh;
  height: auto;
}
.submenu ul li {
  padding-top: .5vh;
  padding-bottom: .5vh;
}
.fa{
  padding-right: .5vw;
  font-size: 1vw;
  color: var(--icon-blue);
}

#social-container{
  position: relative;
  width: auto;
  height: 5vh;
  margin-top: 2vh;
}
#social-container ul{
  display: flex;
  justify-content: left;
  align-items: center;
  width: auto;
  height: 100%;
  padding: 0 15px 0 15px;
}
#social-container ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-left: 15px;
  background: #fff;
  border-radius: 5px;
}
.fa-social{
  font-size: 1.2rem;
  overflow: hidden;
  color: var(--icon-blue);
}
.socialNames{
  display: none;
}