:root {
    --header-top-line-text-size: 1rem;

    --main-blue: #1A355E;
    --blue-two: #19478d;
    --icon-blue: #89B8CB;
    --color-text-a: #445A7C;
    --color-text-b: #2579E8;

    /* mrsa */
    --global-yellow: #FFB400;
    --global-blue: #384F9D;
    --global-red: #CD0216;

}

@media (max-width: 2500px) {

    /* Cacher la vidéo pour les formats mobiles */
    video {
        display: block;
    }

    /* Afficher l'image pour les formats mobiles */
    .mobile-image {
        display: none;
        width: 100%;
        height: 150vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 1200px) {

    /* RECRUTEMENT */
    .wtm-article h4 {
        font-size: 1.6rem;
        white-space: nowrap;
    }

    .wtm-article p {
        font-size: 1.2rem;
        color: #333;
    }

    /* Cacher la vidéo pour les formats mobiles */
    video {
        display: none;
    }

    /* Afficher l'image pour les formats mobiles */
    .mobile-image {
        display: block;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 768px) {

    /* HEADER */
    .top-line {
        display: none;
    }

    /* DIAPO */
    #diapo {
        height: 65vh;
    }
    .diapo-txt-cntr {
        bottom: 5vh;
        margin-left: 5vw;
        width: 90vw;
    }
    .mh-ul {
        display: none;
    }

    #arrow {
        width: 8vw;
    }


    /* NAVIGATION */
    #navigation {
        height: auto;
        border-bottom: solid .5rem var(--global-yellow);
    }

    /* SECTION */
    .section {
        position: relative;
        display: block;
        margin-top: 0;
    }

    .main-cntr {
        position: relative;
        display: block;
        width: 100vw;
        height: auto;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: #f1f1f1;
    }
    #assu .decor,  #vsl .decor {
        border: none;
        
    }

    .image {
        position: relative;
        display: block;
        width: 100%;
        height: 30vh;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    .decor {
        position: relative;
        display: inline-block;
        width: 100%;
        height: auto;
        min-height: 30vh;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }

    .tt {
        position: relative;
        display: block;
        width: 100vw;
        height: auto;
        top: 0;
        transform: translateY(0);
        left: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .tt h2{
        font-size: 1.4rem;
        font-weight: 700;
        padding-top: 3vh;
        padding-bottom: 3vh;
        white-space: normal;

    }
    .left {
        left: 0;
    }

    .l {
        right: 0;
    }
    .tt p {
        font-size: 1rem;
    }

    .tt ul {
        font-size: .9rem;
        margin-left: 4vw;
        color: #333;
        margin-bottom: 2vh;
    }

    .tt li {
        margin-bottom: 0;
    }

    /* RECRUTEMENT */
    .job-ctnr{
        width: 95%;
    }
    .job-list{
        width: 100%;
    }
    .wtm-article h4 {
        font-size: 1.2rem;
        white-space: nowrap;
    }

    .wtm-article p {
        font-size: 1rem;
        color: #333;
    }

    /*JOBS*/
    .job-desc{
        width: 95%;
    }
    .job-desc h1{
        font-size: 1.6rem;
        margin-bottom: .5vh;
    }
    .job-regions{
        font-size: .9rem;
    }
    .cp{
        font-size: 1.4rem;
    }
    .job-desc-txt{
        font-size: 1rem;
    }
    .job-desc-ul{
        font-size: 1rem;
    }
    .instruction{
        font-size: 1rem;
    }
    
    /* FOOTER */
    #infos {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(1, 2fr);
        grid-template-rows: 2fr;
        grid-column-gap: 0;
        grid-row-gap: 1vh;
        font-size: 0;
        /* background: #000; */
    }
    .infos-ctnr {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        margin-bottom: 3vh;
        padding: 1.2rem;
    }

    .navbox-text-ctnr h3{
        font-size: 1.3rem;
    }

    .navbox-p {
        font-size: .8rem;
    }

    .desc-btn{
        width: 10rem;
    }

    .desc-btn a{
        font-size: .7rem;
        font-weight: 500;
    }

    .infos-ctnr-r {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        padding: 0 0 0 5vw;
    }

    .submenu span{
        font-size: 1.3rem;
      }

    .submenu ul a{
        color: #fff;
        font-size: .9rem;
    }
    .fa {
        padding-right: 2vw;
        font-size: .9rem;
    }

}

@media (max-width: 385px) {

    /* HEADER */
    .top-line {
        display: none;
    }

    #main-head h1 {
        font-size: 1rem;
    }

    .title-cntr {
        margin-left: 5vw;
    }

    .mh-ul {
        display: none;
    }

    /* MAIN */
    .main-ctnr {
        padding-bottom: 0vh;
    }

    /* DIAPO */
    #diapo {
        height: 58vh;
    }

    /* Cacher la vidéo pour les formats mobiles */
    video {
        display: none;
    }

    /* Afficher l'image pour les formats mobiles */
    .mobile-image {
        display: block;
    }

    .diapo-txt-cntr {
        bottom: 5vh;
        margin-left: 5vw;
        width: 90vw;
    }

    .diapo-btn {
        font-size: 3vw;
        font-weight: 500;
        width: 40vw;
    }

    #arrow {
        width: 15vw;
        font-size: 6vw;
    }


    /* NAVIGATION */
    #navigation {
        height: auto;
        border-bottom: solid .8rem var(--global-yellow);
    }


    /* TOOLS */
    #msg {
        height: 7vh;
    }

    .msg-text {
        font-size: 3vw;
    }

    .construct {
        font-size: 3vw;
    }


    /* RECRUTEMENT */
    .job-ctnr h2 {
        font-size: 2rem;
    }

    .job-title a {
        font-size: .7rem;
        color: #2579E8;
    }

    .job-date {
        font-size: .6rem;
    }

    .job-regions {
        font-size: .6rem;
    }

    .wtm-article h4 {
        font-size: 1.2rem;
        white-space: normal;
        margin-bottom: 3vh;

    }

    .wtm-article p {
        font-size: .7rem;
        color: #333;
    }


}
