#mentions-legales{
    position: relative;
    display: block;
    width: 100vw;
    height: auto;
    min-height: 90vh;
    overflow-y: scroll;
    overflow-y: hidden;
    background: #f1f1f1;
}
.mention-ctnr{
    position: relative;
    display: block;
    width: 65%;
    height: 85%;
    margin: 0 auto;
    top: 5vh;
    margin-bottom: 15vh;
}

#mentions-editeur{
    list-style-type: none;
}

.coop-desc {
    position: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: auto;
    top: 2vh;
    overflow: hidden;
}

.coopArticle {
    padding: 1rem;
    margin-top: 1vh;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.coopArticle ul, ol, mention-p{
    color: var(--main-blue);
}

.noDot {
    list-style-type: none;
}
.mts-h4{
    margin-top: 1rem;
}

.coop-subtitle {
    display: inline-block; /* Ajuste la largeur à celle du texte */
    width: 100%;
    color: #2579E8;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.03rem;
    margin: 0; /* Supprime la marge externe */
    padding: 0; /* Supprime la marge interne */
    overflow: hidden; /* Cache le texte non encore affiché */
}

.typewriter-cursor {
    display: inline-block;
    font-size: 3rem;
    font-weight: 500;
    color: #2579E8; /* Assurez-vous que la couleur est bien appliquée */
    animation: blinkCursor 1s steps(1) infinite;
}

/* Animation du curseur clignotant */
@keyframes blinkCursor {
    50% {
        color: transparent;
    }
}

.coop-p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--main-blue);
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.bg-blue-dark{
    /* background: #161F46; */
    background: var(--main-blue);
}

.bg-blue-dark h3, .bg-blue-dark p{
    color: #fff!important;
}