/* --------------SECTIONS---------- */
.section {
    position: relative;
    display: block;
    width: 100vw;
    height: auto;
    margin-top: 0;
    background: none;
}

.main-cntr {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 60vh;
    margin: 10vh;
    margin: auto;
    background: none;
}

.decor {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    /* bottom: 0; */
    overflow: hidden;
    border-radius: 0;
}

#assu .decor {
    border-bottom: 0.625rem solid #f1f1f1;
}

#vsl .decor {
    border-top: 0.625rem solid #f1f1f1;
}

.tt {
    position: absolute;
    width: 40%;
    height: 80%;
    right: 6vw;
    top: 50%;
    transform: translateY(-50%);
}

.tt p {
    display: block;
    margin-top: 1vh;
    font-size: 1rem;
    color: #333;
}

.bl-bold {
    padding-left: 10px;
    border-left: 3px solid #2579E8;
    font-weight: 500;
    margin-bottom: 2vh;
}

.bl-bold a {
    color: var(--mrsa-red);
    text-decoration: underline;
}

.tt h2 {
    font-size: 2rem;
    font-weight: 500;
    white-space: nowrap;
    color: #2579E8;
}

.tt ul {
    font-size: .9rem;
    padding-left: 1vw;
    color: #333;
}

.tt li {
    margin-bottom: .5vh;
}


.btnn {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    bottom: 0;
    background: #2579E8;
    color: #fff;
    font-size: 0.7vw;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;
}


.btnn:hover {
    filter: brightness(1.05);
}

.lt {
    left: 4vw;
}

.image {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 0 0 #000000;
    box-shadow: 0 0 0 0 #000000;
    z-index: 1;
    border-radius: 0;
}

.left {
    left: 0;
}

.l {
    right: 0;
}