@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Montserrat:ital,wght@0,100;0,300;0,400;1,500&display=swap');
@font-face {
  font-family: 'Airstrike-Expanded';
  src:url('../font/Airstrike-Expanded.ttf.woff') format('woff'),
      url('../font/Airstrike-Expanded.ttf.svg#Airstrike-Expanded') format('svg'),
      url('../font/Airstrike-Expanded.ttf.eot'),
      url('../font/Airstrike-Expanded.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  /* background-color: #1A355E; */
  background-color: #fff;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

a{
  text-decoration: none;
  color: var(--main-blue);
}

#root {
  position: relative;
  height: auto;
  background: #f1f1f1;
  overflow: hidden;
}

#diapo {
  display: block;
  position: relative;
  width: 100%;
  height: 90vh;
  border-bottom: 1vh solid #fff;
  overflow: hidden;
}

.sublist{
  margin-left: 1.5rem;

}
video {
  /* display: flex; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile-image {
  display: none;
  width: auto;
  height: 100%;
  background-image: url(../media/mrsa-2.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.diapo-txt-cntr{
  display: block;
  position: absolute;
  width: 40%;
  height: auto;
  margin-left: 15vw;
  margin-top: 55vh;
  white-space: nowrap;
  text-transform: uppercase;
  z-index: 1000;

}
.diapo-txt-cntr h1{
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 1px -1px 3px rgba(0,0,0,0.38);
  z-index: 2000;
}
.diapo-txt-cntr h2{
  color: #2579E8;
  font-size: 2rem;
  font-weight: 100;
  z-index: 2000;
}

.diapo-btn{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background: var(--global-yellow);
  border-radius: 6vw;
  color: #f1f1f1;
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
  text-transform: none;
  cursor: pointer;
}

#arrow{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 4vh;
  /* background: #fff; */
  bottom: 1vh;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50% / 100% 100% 0 0;
  /* font-size: 2vw; */
  font-size: 2vw;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
}

/* --------------NAVIGATION---------- */
#navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  min-height: 35vh;
  background: linear-gradient(135deg,var(--main-blue),#19478d);
  border-bottom: 1rem solid var(--global-yellow);
  font-size: 0;
}

.aboutBtn{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 5vh;
  margin-top: 2vh;
  margin-left: 1vw;
  padding-left: 1rem;
  padding-right: 1rem;
  background: none;
  border: 1px solid #ffff;
  border-radius: 6vw;
  font-size: 1vw;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  transition: 300ms all ease;
}

.aboutBtn a{
  color: #f1f1f1;
}

.aboutBtn:hover{
  background: #f1f1f1;
}

.aboutBtn:hover a{
  color: #2579E8;
}

#boxes-ctnr{
  display: grid;
  width: 90%;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5vw;
  grid-row-gap: 0px;
  /* background: #000; */
  padding-top: 5vh;
  padding-bottom: 5vh;

}

#nav-box-tt{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: auto;
  font-size: 1.7rem;
  color: #fff;
  padding-left: 1rem;
}

.sectionTitleCtnr{
  display: flex;
  height: auto;
  align-items: center;
  justify-content: left;
  border-bottom: 2px solid var(--global-yellow);
}

.faqQuestionIcon{
  font-size: 7rem;
  color: #fff;
}
.sectionTitle{
  position: absolute;
  padding: 2vw;
  font-size: 2rem;
  color: var(--main-blue);
}